---
import type { Locale } from "../../i18n";
import { t } from "../../i18n";
interface Props {
	locale: Locale;
	count: number;
	lastUpdatedLabel: string;
}

const { locale, count, lastUpdatedLabel } = Astro.props;
const countText = t(locale, "blocksCountTemplate").replace("{count}", String(count));
---

<main>
	<h1 class="text-[58px] text-zinc-900 tracking-[-1.2px] font-semibold leading-15">
		{t(locale, "galleryTitle")}
	</h1>
	<div
		class="flex md:gap-3 flex-wrap gap-1.5 mb-24 items-center mt-6 text-xl text-zinc-400 md:leading-relaxed"
	>
		<span
			set:html={countText.replace(
				String(count),
				`<span class=\"font-semibold text-zinc-900 tracking-tighter\">${count}</span>`,
			)}
		/>
		<span>⦁</span>
		<span>{t(locale, "blocksWillUpdate")}</span>
	</div>
</main>
