---
import VHeaderBadge from "@proxima812/astro-versions-proxima/components/VHeaderBadge";
import GithubStarsBadge from "./colors/GithubStarsBadge.astro";
---

<div class="mb-8 flex items-center justify-between gap-3">
	<VHeaderBadge />
	<GithubStarsBadge owner="proxima812" repo="ximacolor" />
</div>
